---
layout: single
---
<html>
<head>
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | absolute_url}}">
</head>

<body>

<div class="page__inner-wrap">
  <section class="page__content" itemprop="text">
    For registration, contact us via <a href="https://www.instagram.com/flunkypiraten/">Instagram</a> or talk to us in person.
    <img src="{{ "/assets/images/winterflunk.png" | absolute_url }}" alt="Banner" style="border-radius: 10px; vertical-middle;">
    <!--img src="{{ "/assets/images/banner.png" | absolute_url }}" alt="Banner" style="border-radius: 10px; vertical-middle;">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdts8obCmwG7w6SA-SWFZ6hmrlBE_-yKBVZ2Bv1DmaySEdtKw/viewform?embedded=true" width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0">Wird geladen…</iframe>
  </section-->
  {% include post_pagination.html %}
</div>
</body>
</html>
