---
layout: splash
---
<html>
<head>
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | absolute_url}}">
  <link rel="stylesheet" href="{{ "/assets/css/animation.css" | absolute_url}}">
</head>

<body>
<div class="page__inner-wrap">
  <section class="page__content" itemprop="text">
    <div style="text-align: center; width: 100%">
    <p style="text-align: center;"> 
    🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉<br> </p>
    <h1>Get ready for the Flunkypiraten Winter Cup 2022!</h1>
    <p style="text-align: center;"> 
    🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉<br>
    Together with our friends from the Schmahaus we will provide you the first ever Flunkypiraten Winter Cup on <br> 
    December 3, 2022! <br>
    Contact us via <a href="https://www.instagram.com/flunkypiraten/">Instagram</a> or talk to us in person for registration.
      <img src="{{ "/assets/images/winterflunk.png" | absolute_url }}" alt="Winter Cup" style="border-radius: 10px; vertical-middle;">
    </p> 
    </div>

    <!--div style="text-align: center; width: 100%">
      <h1>Time until December 3 2022, 11:00</h1>
      <div id="countdown">
        <ul>
          <li class="licd"><span id="days"></span>days</li>
          <li class="licd"><span id="hours"></span>Hours</li>
          <li class="licd"><span id="minutes"></span>Minutes</li>
          <li class="licd"><span id="seconds"></span>Seconds</li>
        </ul>
      </div>
      <div id="content" class="emoji">
        <span>🥳</span>
        <span>🎉</span>
        <span>🎂</span>
      </div>
    </div-->
	<!--div style="text-align: center; width: 100%; margin-top:-100px; margin-bottom: -150px;">
    <div class="ball">||</div>
    <div class="bottles-center">
      <div class="bottles-container">
        <div class="bottle purple">
          <div class="bottle-cap"></div>
          <div class="top-part">
            <div class="tilt"></div>
          </div>
          <div class="bottle-body">
            <div class="sticker"></div>
          </div>
        </div>
      </div>
    </div>
	</div-->

    <hr>
    Below you can follow the event <b>live</b> with the current/last match (green &rarr; won, red &rarr; lost)
    and the overall tournament ranking.
    <br><br>
  </section>
</div>

{% if site.data.match %}
{% if site.data.match.winner == 0 %}
<h1>Current match</h1>
{% else %}
<h1>Last match</h1>
{% endif %}
  
  <div style="text-align: center; width: 100%">
  {% if site.data.match.winner == 1 %}
  <div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; background-color: rgba(144, 238, 144, 0.5); display: inline-block; padding: 1rem 1rem; vertical-align: middle">
  {% elsif site.data.match.winner == 2 %}
  <div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; background-color: rgba(255, 127, 127, 0.5); display: inline-block; padding: 1rem 1rem; vertical-align: middle">
  {% else %}
  <div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; display: inline-block; padding: 1rem 1rem; vertical-align: middle">
  {% endif %}
    <b>Team 1</b><br>
    {% for member in site.data.match.team_1 %}
      {{ member }} <br>
    {% endfor %}
  </div>
  <div style="display: inline-block; vertical-align: middle">
    vs.
  </div>
  {% if site.data.match.winner == 2 %}
  <div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; background-color: rgba(144, 238, 144, 0.5); display: inline-block; padding: 1rem 1rem; vertical-align: middle">
  {% elsif site.data.match.winner == 1 %}
  <div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; background-color: rgba(255, 127, 127, 0.5); display: inline-block; padding: 1rem 1rem; vertical-align: middle">
  {% else %}
  <div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; display: inline-block; padding: 1rem 1rem; vertical-align: middle">
  {% endif %}
  <b>Team 2</b><br>
  {% for member in site.data.match.team_2 %}
    {{ member }} <br>
  {% endfor %}
  </div>
<br><br>
    {% if site.data.match.winner == 0 %}
	<div style="z-index: 0; text-align: center; width: 100%; margin-top:-150px; margin-bottom: -150px;">
    <div class="ball">||</div>
    <div class="bottles-center">
      <div class="bottles-container">
        <div class="bottle purple">
          <div class="bottle-cap"></div>
          <div class="top-part">
            <div class="tilt"></div>
          </div>
          <div class="bottle-body">
            <div class="sticker"></div>
          </div>
        </div>
      </div>
    </div>
	</div>
    {% endif %}

{% endif %}
</div>


{% if site.data.table %}
<h1>Table</h1>
<div class="middle">
  <span class="legenddot" style="background-color: rgba(144, 238, 144, 0.5);"></span><span style="font-size: .6rem;"><i>&nbsp;Qualified for final</i></span>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <span class="legenddot" style="background: linear-gradient(135deg, rgba(144, 238, 144, 0.5) 50%, rgba(120, 196, 120, 0.5) 50%);"></span><span style="font-size: .6rem;"><i>&nbsp;</i></span>
</div>
<table>
{% for row in site.data.table %}
  <thead>
  {% if forloop.first %}
    <tr class="header">
	  {% for pair in row %}
        <th>{{ pair[0] }}</th>
      {% endfor %}
    </tr>
  {% endif %}
  </thead>
  <tbody>
    {% if "1 2" contains forloop.index %}
    <tr style="background-color: rgba(144, 238, 144, 0.5);">
    {% elsif "33" contains forloop.index %}
    <tr style="background: linear-gradient(135deg, rgba(144, 238, 144, 0.5) 25%, rgba(120, 196, 120, 0.5) 25%);">
    {% else %}
    <tr>
    {% endif %}
      {% for pair in row %}
      <td>
        {{ pair[1] }}
      </td>
      {% endfor %}
    </tr>
  </tbody>
{% endfor %}
</table>
{% endif %}

<h2>Our partners</h2>
<div style="text-align: center; width: 100%;">
	<div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; display: inline-block; padding: 0.1rem 0.1rem; vertical-middle; width: 30vw; max-width: 30%">
		<a href="https://www.instagram.com/donausaurus/">
		<img src="{{ "/assets/images/logo-ds.png" | absolute_url }}" alt="Donausaurus">
		</a>
	</div>
	<div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; display: inline-block; padding: 0.1rem 0.1rem; vertical-middle; width: 30vw; max-width: 30%">
		<a href="https://www.facebook.com/Schreinermeister-Walter-GmbH-100500564724164/">
		<img src="{{ "/assets/images/logo-sw.png" | absolute_url }}" alt="Schreinermeister Walter">
		</a>
	</div>
	<div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; display: inline-block; padding: 0.1rem 0.1rem; vertical-middle; width: 30vw; max-width: 30%">
		<a href="https://www.hawt.de/" target="_blank" rel="noopener noreferrer">
		<img src="{{ "/assets/images/logo-hawt.png" | absolute_url }}" alt="Hawt">
		</a>
	</div>
	<div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; display: inline-block; padding: 0.1rem 0.1rem; vertical-middle; width: 30vw; max-width: 30%">
		<a href="{{ "/eta" | absolute_url}}">
		<img src="{{ "/assets/images/logo-eta.png" | absolute_url }}" alt="ETA">
		</a>
	</div>
	<div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; display: inline-block; padding: 0.1rem 0.1rem; vertical-middle; width: 30vw; max-width: 30%">
		<a href="{{ "/walterwerk" | absolute_url }}">
		<img src="{{ "/assets/images/logo-walterwerk.png" | absolute_url }}" alt="Walterwerk">
		</a>
	</div>
	<div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; display: inline-block; padding: 0.1rem 0.1rem; vertical-middle; width: 30vw; max-width: 30%">
		<a href="https://galabau-ks.com/" target="_blank" rel="noopener noreferrer">
		<img src="{{ "/assets/images/logo-ksgalabau.png" | absolute_url }}" alt="K+s Galabau">
		</a>
	</div>
	<!--div style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; display: inline-block; padding: 0.1rem 0.1rem; vertical-middle; width: 30vw; max-width: 30%">
        <div style="background-color: #a85d78;"><img src="{{ "/assets/images/placeholder.png" | absolute_url }}" alt=""> </div>
	</div-->
</div>

</body>
</html>


<script>
(function () {
  const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

  const countDown = new Date("Dec 3, 2022 11:00:00").getTime(),
      x = setInterval(function() {    

        const now = new Date().getTime(),
              distance = countDown - now;

        document.getElementById("days").innerText = Math.floor(distance / (day)),
          document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
          document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

        //do something later when date is reached
        if (distance < 0) {
          document.getElementById("headline").innerText = "It's my birthday!";
          document.getElementById("countdown").style.display = "none";
          document.getElementById("content").style.display = "block";
          clearInterval(x);
        }
        //seconds
      }, 0)
  }());
</script>
